// 全局变量

$black:rgb(0, 0, 0); //黑色
$black-1:rgb(10, 10, 10); //黑色1
$black-2:rgb(20, 20, 20); //黑色2
$black-3:rgb(30,30,30); //黑色3
$black-4:rgb(40,40,40); //黑色4
$black-5:rgb(40,40,40); //黑色5

$white:rgb(255,255,255);   //白色
$white-light:rgb(220,220,220); //浅白色
$white-super-light:rgb(185,185,185); //超浅白色


$blue:rgb(64,158,255);  //蓝色
$blue-light:rgb(102,177,255); //浅蓝色

$orange:rgb(251,132,6); //橙色
$orange-light:rgb(252,170,4); //浅橙色

$red:rgb(248,105,105); //红色
$red-light:rgb(247,137,137); //浅红色

$font-1:18px; //1号字体
$font-2:16px; //2级字体
$font-3:14px; //3级字体
$font-4:12px; //4号字体